{% extends "base.html" %}

{% block title %}Billing{% endblock %}

{% block body %}
<style>
    .container {
        background-color: white;
        padding: 30px 50px;
        margin: 20px;
        border-radius: 12px;
    }
    
    body {
        background-color: gray;
        color: black;
    }
    
    h1, h2 {
        color: black;
        margin-top: 0;
    }
    
    p {
        color: black;
    }
</style>

<div class="container">
<h1>Billing</h1>

{% if container %}
    <h2>Container: {{ container.name }}</h2>
    <p>Image: {{ container.image }}</p>
    <p>Status: {{ container.status }}</p>
    <p>Total Billing per Second: {{ container.calculate_billing() }}</p>
{% else %}
    <p>Container not found.</p>
{% endif %}

<button class="button button1"><a href="{{ url_for('index') }}">Back to Dashboard</a></button>
</div>

{% endblock %}
