{% extends "base.html" %}

{% block title %}Create Container{% endblock %}

{% block body %}
<h1>Create Container</h1>

<form method="post">
    <p>
        <label>
            Container Name:
            <input type="text" name="name">
        </label>
    </p>
    <p>
        <label>
            Image Name:
            <input type="text" name="image">
        </label>
    </p>

    <p>
        <button type="submit">Create</button>
    </p>
    <p>
        <a href="{{ url_for('index') }}">Back to Dashboard</a>
    </p>
</form>

{% endblock %}