{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>
<p>Selamat Datang di Docker Onlen!</p>

<a href="{{ url_for('create_container') }}">Create Container</a>

<h2>Containers</h2>

<ol>
{% for container in containers %}
<li>
    <ul>
        <li><b>{{ container.name }}</b></li>
        <li><small>{{ container.id }}</small></li>
        <li>
            <a href="#">Start</a>
            <a href="#">Stop</a>
            <a href="#">Delete</a>
        </li>
    </ul>
</li>
{% endfor %}
</ol>

{% endblock %}